----
# Trabalho Final do Curso de Ver√£o - Python (FGV)

* Aluno: Artur Chiaperini Grover
* Professores: Renato Souza e Flavio Coelho
* Exchange: CEX ([CEX.IO](https://cex.io))

----

In [3]:
import pickle
import pandas as pd
import numpy as np
import datetime
import time
import sqlite3
import sqlalchemy
from IPython.display import clear_output

In [4]:
format_date = lambda x: datetime.datetime.fromtimestamp(x)

## Importing Data From Pickle File

In [5]:
loaded_ohlcv_eth_usd = pickle.load(open('ohlcv_eth_usd.pkl', 'rb'))
loaded_ohlcv_eth_eur = pickle.load(open('ohlcv_eth_eur.pkl', 'rb'))

In [6]:
eth_usd = pd.read_json(loaded_ohlcv_eth_usd)
eth_usd.columns = ['date', 'open', 'high', 'low', 'close', 'volume']

eth_eur = pd.read_json(loaded_ohlcv_eth_eur)
eth_eur.columns = ['date', 'open', 'high', 'low', 'close', 'volume']

In [7]:
eth_usd['date'] = pd.to_datetime(eth_usd['date'].apply(format_date))
eth_eur['date'] = pd.to_datetime(eth_eur['date'].apply(format_date))

In [8]:
eth_usd.set_index('date', inplace = True)
eth_eur.set_index('date', inplace = True)

In [11]:
print(eth_usd.info())
print(eth_eur.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 285545 entries, 2017-01-21 23:14:00 to 2018-01-22 21:59:00
Data columns (total 5 columns):
open      285545 non-null float64
high      285545 non-null float64
low       285545 non-null float64
close     285545 non-null float64
volume    285545 non-null float64
dtypes: float64(5)
memory usage: 13.1 MB
None
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 105230 entries, 2017-01-21 22:42:00 to 2018-01-22 21:55:00
Data columns (total 5 columns):
open      105230 non-null float64
high      105230 non-null float64
low       105230 non-null float64
close     105230 non-null float64
volume    105230 non-null float64
dtypes: float64(5)
memory usage: 4.8 MB
None

In [12]:
eth_usd.head()

                      open   high    low  close     volume
date
2017-01-21 23:14:00  10.80  10.80  10.80  10.80  21.317518
2017-01-21 23:55:00  10.96  10.96  10.96  10.96   2.134124
2017-01-22 00:02:00  10.85  10.85  10.85  10.85   9.971791
2017-01-22 00:07:00  10.85  10.85  10.85  10.85   6.622109
2017-01-22 00:08:00  10.85  10.85  10.85  10.85   9.882933

In [13]:
eth_eur.head()

                      open   high    low  close    volume
date
2017-01-21 22:42:00  10.15  10.15  10.15  10.15  2.007409
2017-01-22 06:03:00  10.22  10.23  10.22  10.23  8.661900
2017-01-22 10:22:00  10.10  10.10  10.10  10.10  2.000000
2017-01-22 10:33:00  10.10  10.10  10.10  10.10  0.549450
2017-01-22 10:34:00  10.10  10.10  10.10  10.10  2.900251